@import "constants";

#business {
  .flair-container {
    @media (min-width: @sm-min) {
      width: 50%;
      display: inline-block;
    }

    .flair {
      background-image: url('./images/handwriting.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      width: 240px;
      height: 200px;
      z-index: 1;
      margin: auto;
      margin-top: -100px;

      @media (min-width: @sm-min) {
        width: 340px;
        height: 300px;
      }

      @media (min-width: @lg-min) {
        width: 550px;
        height: 500px;
        margin-top: -160px;
      }
    }
  }

  .content {
    @media (min-width: @sm-min) {
      float: left;
      width: 50%;
    }

    .section-heading {
      text-align: center;
      margin-top: 30px;

      @media (min-width: @sm-min) {
        text-align: right;
        margin: auto;
        padding: 30px 0;
        width: 80%;
      }

      @media (min-width: @lg-min) {
        width: 90%
      }
    }

    .section-description {
      color: @primary-brand-color;
      font-weight: 900;
      text-align: center;
      margin: auto;
      padding: 10px;

      @media (min-width: @sm-min) {
        text-align: right;
        width: 80%;
        padding: 0;

        @media (min-width: @lg-min) {
          width: 90%;
          font-size: 18px;
          line-height: 2;
        }
      }
    }
  }
}