@accent-color: #924393;
@primary-brand-color: #1C4863;
@primary-text-color: #65727B;
@secondary-brand-color: #C1C1FF;
@secondary-text-color: #999999;
@tertiary-text-color: #333333;
@quaternary-text-color: #C2C2C2;

@font-face {
  font-family: 'FuturaMedium';
  src: url('./fonts/FuturaEF-Medium.otf');
}

@font-face {
  font-family: 'FuturaMediumOblique';
  src: url('./fonts/FuturaEF-MediumObl.otf');
}

@font-face {
  font-family: 'RobotoBlack';
  src: url('./fonts/Roboto-Black.ttf');
}

@xs-min: 480px;
@sm-min: 768px;
@md-min: 992px;
@lg-min: 1400px;
@xs-max: (@sm-min - 1);
@sm-max: (@md-min - 1);
@md-max: (@lg-min - 1);
