@import "constants";

#contact {
  position: relative;
  text-align: center;
  padding-top: 50px;

  @media (min-width: @lg-min) {
    padding-bottom: 110px;
  }

  .stripe {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    background-image: url('./images/person-sitting-small.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    margin-left: -10px;

    @media (min-width: @md-min) {
      background-image: url('./images/person-sitting-large.jpg');
    }
  }

  @media (min-width: @lg-min) {
    padding-top: 80px;
  }

  img {
    position: absolute;
    right: 0;
    top: -100px;
    z-index: -2;
  }

  .heading-container {
    margin: 10px 0 50px;

    .section-heading {
      border-color: white;
      border-style: solid;
      border-width: 3px;
      color: white;
      display: inline;
      padding: 20px 40px;
      text-align: center;
    }
  }

  .section-description {
    @media (min-width: @sm-min) {
      width: 60%;
      margin: auto;

      @media (min-width: @lg-min) {
        font-size: 18px;
        line-height: 2;
        margin-top: 80px;
      }
    }
  }

  .contact-form-container {
    position: relative;
    margin-top: 30px;

    .shadow-box {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      height: 480px;
      width: auto;
      box-shadow: 0 0 30px 0 rgba(0,0,0,0.75);
      z-index: -2;

      @media (min-width: @sm-min) {
        width: 50%;
        max-width: 700px;
      }

      @media (min-width: @lg-min) {
        height: 500px;
      }
    }

    .contact-form {
      box-sizing: border-box;
      background-color: white;
      line-height: 1.5;
      height: 520px;
      margin: auto;
      padding: 20px 40px;
      text-align: left;

      [required]::placeholder:after {
        content: "*";
        color: red;
        position: relative;
        top: -3px;
        left: 3px;
      }

      input {
        height: 35px;
        margin-top: 25px;
        font-size: 16px;
      }

      textarea {
        height: 35px;
        margin-top: 20px;
        font-size: 16px;
      }

      @media (min-width: @sm-min) {
        width: 50%;
        max-width: 700px;
        margin-top: 40px;

        @media (min-width: @lg-min) {
          margin-top: 60px;
        }
      }

      .confirmation {
        display: none;
      }

      &.submitted {
        form {
          display: none;
        }

        .confirmation {
          display: block;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          text-align: center;

          p {
            color: @primary-text-color;
            font-size: 22px;
          }

          h3 {
            font-size: 30px;
            letter-spacing: 2px;
            margin-top: 40px;
          }

          img {
            position: relative;
            width: 100px;
            top: 0;
          }
        }
      }

      .asterisk {
        margin: 20px 0;
        color: @primary-brand-color;
        font-style: italic;
        font-size: 12px;
      }

      .asterisk:before {
        font-size: 16px;
        content: "*";
        color: red;
        position: relative;
        top: -3px;
        margin-right: 3px;
        font-style: normal;
      }

      button {
        width: 100%;
      }
    }
  }
}

