@import "constants";

#footer {
  margin: auto;
  width: 100%;
  text-align: center;
  position: relative;
  height: 320px;
  box-sizing: border-box;
  padding-top: 0px;

  hr {
    width: 90%;
    color: @primary-brand-color;

    @media (max-width: @md-max) {
      margin-bottom: 70px;
    }

    @media (min-width: @lg-min) {
      position: relative;
      top: 50px;
    }
  }

  @media (min-width: @sm-min) {
    height: 330px;
  }

  @media (min-width: @lg-min) {
    height: 200px;
  }

  .diamond-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: -10px;
    overflow: hidden;
    z-index: -2;

    img {
      position: relative;
      left: 100%;
      margin-left: -200%;
      top: 5px;
    }
  }

  .social {
    @media (min-width: @lg-min) {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      padding-top: 20px;
      z-index: 1;
    }

    .github {
      display: inline-block;
      position: relative;
      left: -60px;
      width: 30px;
      height: 30px;
      background-image: url('./images/github@3x.png');
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-width: @lg-min) {
        left: -30px;
      }

      &:hover {
        background-image: url('./images/github_hover@3x.png');
      }
    }

    .linkedin {
      display: inline-block;
      position: relative;
      left: 60px;
      width: 30px;
      height: 30px;
      background-image: url('./images/linkedin@3x.png');
      background-size: contain;
      background-repeat: no-repeat;

      @media (min-width: @lg-min) {
        left: 30px;
      }

      &:hover {
        background-image: url('./images/linkedin_hover@3x.png');
      }
    }
  }

  .address {
    color: @primary-text-color;
    font-family: "FuturaMedium";
    line-height: 20px;
    margin: 40px 0;

    @media (min-width: @lg-min) {
      font-size: 18px;
      position: absolute;
      top: 60px;
      right: 100px;
      margin-top: 30px;
      padding-top: 20px;
    }

    .line-one {
      display: block;

      @media (min-width: @lg-min) {
        display: inline;
        margin-right: 15px;
      }
    }
  }

  .copyright {
    color: @primary-text-color;
    z-index: 2;
    font-family: "FuturaMedium", sans-serif;

    @media (min-width: @lg-min) {
      position: absolute;
      left: 100px;
      top: 60px;

      p {
        position: relative;
        font-size: 12px;

        @media (min-width: @lg-min) {
          font-size: 18px;
        }
      }
    }

    img {
      display: inline-block;
      width: 40px;
      position: relative;
      top: 13px;
      right: 10px;
      z-index: 2;

      @media (min-width: @lg-min) {
        width: 70px;
        top: 30px;
      }
    }

    p {
      display: inline;
      padding-bottom: 40px;
    }
  }
}
