@import "constants";

#github {
  position: relative;
  text-align: center;

  img {
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;
  }

  .github-counter {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
  }

  .section-heading {
    text-align: center;

    @media (min-width: @sm-min) {
      margin-top: 20px;
    }
  }

  .section-description {
    color: @primary-text-color;

    @media (min-width: @sm-min) {
      margin: auto;
      margin-top: 20px;
      width: 60%;
    }
  }

  .github-carousel {
    height: 200px;
  }
}