@import "constants";

#github {
  background: url("./images/diamonds-3.svg");
  background-repeat: no-repeat;
  background-position: right 480px;
  background-size: 50%;
  position: relative;
  text-align: center;
  padding-bottom: 80px;

  @media (min-width: @lg-min) {
    padding-bottom: 150px;
  }

  a {
    text-decoration: none;
  }

  img {
    left: 0;
    opacity: .1;
    position: absolute;
    top: 0;

    @media (min-width: @lg-min) {
      height: 90%;
      top: -70px;
    }
  }

  .github-counter {
    font-family: "Roboto", sans-serif;
    font-size: 3.125em;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0;

    @media (min-width: @lg-min) {
      font-size: 6.250em;
      margin-top: 100px;
    }
  }

  .section-heading {
    text-align: center;
    margin-top: 20px;

    @media (min-width: @sm-min) {
      margin-top: 20px;
    }

    @media (min-width: @lg-min) {
      margin-top: 40px;
    }
  }

  .section-description {
    color: @secondary-text-color;
    margin-top: 20px;

    @media (min-width: @sm-min) {
      margin: auto;
      margin-top: 20px;
      width: 60%;

      @media (min-width: @lg-min) {
        margin-top: 40px;
      }
    }
  }

  .github-carousel {
    height: 200px;

    @media (min-width: @lg-min) {
      height: 300px;
    }
  }
}