@import "constants";

body {
  box-sizing: border-box;
  margin: 0px;
  min-width: 320px;
}

h1 {
  margin: 0px;
}

h2 {
  margin: auto;
}

h3 {
  margin: 0px;
}

p {
  font-size: 0.813em;
  line-height: 2;
}

section.left-align {
  padding: 50px 15px;
}

section {
  padding: 50px 10px;
}

button {
  background-color: @primary-brand-color;
  box-shadow: none;
  color: white;
  display: inline;
  font-family: "Roboto", sans-serif;
  font-size: 0.750em;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 25px;
  text-transform: uppercase;

  @media (min-width: @lg-min) {
    font-size: 1.375em;
    letter-spacing: 3px;
    padding: 25px 35px;
  }

  &:hover {
    background-color: @accent-color;
    border: none;
  }
}

.section-heading {
  color: @accent-color;
  font-family: "FuturaMedium";
  letter-spacing: 2px;
  font-size: 0.750em;
  text-transform: uppercase;
  letter-spacing: 2px;

  @media (min-width: @lg-min) {
    font-size: 1.125em;
    letter-spacing: 3px;
  }
}

.section-subheading {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  font-size: 0.938em;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (min-width: @lg-min) {
    font-size: 1.875em;
    letter-spacing: 2px;
  }
}

.section-description {
  color: white;
  font-family: "FuturaMedium";
  font-size: 0.813em;
  line-height: 18px;

  @media (min-width: @lg-min) {
    font-size: 1.375em;
    line-height: 36px;
    letter-spacing: 0px;
  }
}
