@import "constants";

#header {
  background-attachment: fixed;
  background-image: url("./images/mountains-small.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
  height: 100%;
  min-height: 400px;
  padding: 0;
  width: 100%;

  @media (min-width: @md-min) {
    background-image: url("./images/mountains-large.jpg");
  }

  .overlay.inactive {
    opacity: 0;
    transition: opacity 1s;
  }

  .overlay.active {
    height:100%;
    width:100%;
    position:fixed;
    left:0;
    top:0;
    z-index:1 !important;
    background-color: black;
    opacity: .75;
  }

  .brand {
    background-image: url("./images/diamonds-1.svg");
    background-position: center center;
    background-repeat: no-repeat;
    display: table-cell;
    height:400px;
    text-align: center;
    vertical-align: middle;
    width:320px;

    @media (min-width: @sm-min) {
      background-size: 400px;
      height: 500px;
      width: 500px;
    }

    @media (min-width: @lg-min) {
      background-size: contain;
      width: 800px;
    }

    .super {
      color: @secondary-text-color;
      font-family: "FuturaMedium";
      letter-spacing: 1.2px;
      padding-top: 45px;
      text-transform: uppercase;

      @media (min-width: @lg-min) {
        font-size: 30px;
        letter-spacing: 6px;
      }
    }

    .name {
      color: white;
      font-family: "RobotoBlack", sans-serif;
      font-size: 75px;
      letter-spacing: 0px;
      line-height: 90px;
      text-transform: none;
      margin-top: -18px;

      @media (min-width: @lg-min) {
        font-size: 150px;
        margin: 15px 0 60px;
      }
    }

    .mission {
      color: white;
      font-family: "FuturaMedium";
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0;
      margin-top: 2px;
      padding: 0 10px 25px 10px;

      @media (min-width: @lg-min) {
        font-size: 22px;
        line-height: 36px;
        padding-bottom: 0px;
      }
    }
  }

  @media (max-width: @xs-max) {
    .navigation {
      font-family: "FuturaMedium", sans-serif;
      letter-spacing: 1px;
      background-color: white;
      font-size: 12px;
      height: 0;
      left: 0px;
      overflow: hidden;
      position: absolute;
      right: 0px;
      top: 0px;
      transition-duration: 1s;
      transition-property: height;
      z-index: 1;

      &.opened {
        height: 355px;
        transition-duration: 1s;
        transition-property: height;
      }

      .overlay.active {
        height: 100%;
      }

      .header {
        line-height: 50px;
        text-align: center;

        h3 {
          color: @accent-color;
          display: inline;
          font-family: "FuturaMedium";
          font-size: 15px;
          text-align: center;
          text-transform: uppercase;
        }

        .close-button {
          position: absolute;
          right: 20px;
          top: 15px;
          width: 20px;
        }
      }

      .nav-item {
        border-top: 1px solid;
        border-color: @secondary-text-color;
        display: block;
        line-height: 50px;
        padding: 0 10px 0 10px;
        text-decoration: none;

        .item-number {
          color: @accent-color;
          display: inline;
        }

        .item-name {
          color: @primary-text-color;
          display: inline;
          float: right;
          text-transform: uppercase;
        }

        &:active,
        &:hover {
          background-color: @primary-brand-color;

          .item-name,
          .item-number {
            color: white;
          }
        }
      }
    }
  }

  @media (min-width: @sm-min) {
    .menu-button {
      display: none;
    }

    .navigation {
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 50px;
      padding-top: 50px;

      @media (min-width: @lg-min) {
        padding-right: 100px;
        padding-top: 100px;
      }

      .close-button {
        display: none;
      }

      .header {
        h3 {
          display: none;
        }
      }

      .nav-item {
        display: block;
        height: 20px;
        font-family: "FuturaMedium", sans-serif;
        text-align: right;
        text-decoration: none;
        padding-bottom: 20px;

        @media (min-width: @md-min) {
          padding-bottom: 30px;
        }

        @media (min-width: @lg-min) {
          padding-bottom: 50px;
        }

        .item-number {
          display: inline;
          color: @accent-color;
          font-size: 8px;

          @media (min-width: @md-min) {
            font-size: 16px;
          }

          @media (min-width: @lg-min) {
            font-size: 18px;
          }
        }

        .item-name {
          display: inline;
          color: white;
          text-transform: uppercase;
          font-size: 8px;
          margin-left: 5px;

          @media (min-width: @md-min) {
            font-size: 16px;
          }

          @media (min-width: @lg-min) {
            font-size: 18px;
          }

          &:active,
          &:hover {
            color: @accent-color;
          }
        }
      }
    }
  }

  .menu-button {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 20px;
  }

  .logo {
    position: absolute;
    left: 5px;
    top: 5px;

    @media (min-width: @sm-min) {
      position: absolute;
      left: 50px;
      top: 50px;
    }

    @media (min-width: @lg-min) {
      left: 100px;
    }

    img {
      width: 40px;

      @media (min-width: @sm-min) {
        width: 60px;
      }

      @media (min-width: @lg-min) {
        width: 100px;
      }
    }

    .name {
      font-family: "RobotoBlack", sans-serif;
      color: @primary-text-color;
      font-size: 20px;
      font-weight: 900;
      left: 45px;
      position: absolute;
      top: 10px;

      @media (min-width: @sm-min) {
        top: 20px;
        left: 70px;
        font-size: 24px;
      }

      @media (min-width: @lg-min) {
        font-size: 40px;
        left: 120px;
        top: 30px;
      }
    }

    .software {
      color: @accent-color;
      font-size: 8px;
      left: 82px;
      position: absolute;
      text-transform: uppercase;
      top: 30px;
      letter-spacing: 1px;

      @media (min-width: @sm-min) {
        top: 45px;
        left: 115px;
        font-size: 10px;
      }

      @media (min-width: @lg-min) {
        top: 70px;
        left: 190px;
        font-size: 16px;
      }
    }
  }
}