@import "constants";

#partners {
  background-attachment: fixed;
  background-image: url('./images/computers-small.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  padding-bottom: 30px;
  position: relative;
  text-align: center;
  z-index: -1;

  @media (min-width: @md-min) {
    background-image: url('./images/computers-large.jpg');
  }

  @media (min-width: @lg-min) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  .content {
    @media (min-width: @sm-min) {
      padding-top: 20px;
      padding-left: 15%;
      width: 50%;
      margin: auto;

      @media (min-width: @lg-min) {
        width: 60%;
      }
    }
  }

  img {
    left: 0;
    opacity: .8;
    position: absolute;
    top: -20%;
    height: 140%;

    @media (min-width: @lg-min) {
      top: -30%;
      height: 160%;
    }
  }

  .section-heading {
    padding-bottom: 10px;
    text-align: left;
  }

  .section-subheading {
    padding-bottom: 10px;
    text-align: left;

    @media (min-width: @lg-min) {
      padding-top: 5px;
      font-size: 24px;
      letter-spacing: 2px;
    }
  }

  .section-description {
    text-align: left;

    @media (min-width: @lg-min) {
      font-size: 18px;
      line-height: 2;
    }
  }
}