@import "constants";

#tools {
  text-align: center;

  .tool-set {
    display: block;
    margin-top: 30px;

    .tool-container {
      display: inline-block;
      vertical-align: center;
      width: 100px;
    }

    img {
      display: inline;
      height: 50px;
    }
  }

  p {
    color: @secondary-text-color;
    margin-top: 30px;
    padding: 0 10px;
  }
}