@import "constants";

#tools {
  text-align: center;

  .tool-container {
    width: 90%;
    margin: auto;

    .tool-set {
      display: block;
      margin-top: 30px;

      @media (min-width: @sm-min) {
        display: inline-block;
        margin-top: 40px;
        width: 50%;
      }

      .tool {
        display: inline-block;
        vertical-align: center;
        width: 100px;

        @media (min-width: @sm-min) {
          width: 33%;
        }

        img {
          display: inline;
          height: 50px;
        }
      }
    }
  }

  p {
    color: @secondary-text-color;
    margin-top: 30px;
    padding: 0 10px;

    @media (min-width: @sm-min) {
      margin: 40px auto 0 auto;
      width: 500px;
    }
  }
}