include ../card/card.jade
include ../contact-form/contact-form.jade
doctype html
//
  The IMPACT Technology Recruiting logo is being used according to license terms which can be found on their website at http://go-impact.com/IT/legal.html.

  All other content on this website is held in copyright by Kogo Software LLC.
html
  head
    meta(charset="utf-8")
    title Kogo Software LLC
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='theme-color' content='#1de9b6')
    link(href='/index.css' rel='stylesheet' type='text/css')

  body
    section.brand
      include ../logo/logo.jade

    section.bio
      .cell
        //-+card('Who we are', 'images/sideways-gorilla-view.png', 'Known for their intelligence and their ability to feel, we are software gorillas!  We seek learning, growth, solutions, peace, order, understanding, harmony, joy, and food.  We feast on difficult problems and challenges.  "Can do" is our motto.')
        //-+card('What we do', 'images/man-drawing-on-glass.png', 'We build, consult, architect, listen, suggest, train, mentor, reason, follow, lead, serve, do whatever it takes to make your vision become a reality.')
        +card('Who we are', 'images/professional-programmer-smiling.jpg', 'We are programmers, consultants, architects, followers, leaders, listeners, trainers, mentors, servants... We are who you need us to be to complete your project and see that your goals are met.')
        +card('The tools we use', 'images/tools-we-use.png', 'We use the latest open source technologies, but are not limited by them.  If you have existing technologies that cannot be replaced, we\'ll use them.  We adapt to any environment, yet prefer current best practices wherever possible.')
        +card('Our Partners', 'images/impact-technology-recruiting-logo.jpg', 'We partner with the best recruiting firms in the valley.  This allows us to stay technical and focus on developing software rather than getting bogged down communicating with dozens of HR departments.')
        br
        +card('Our Business Model', 'images/building-software.jpg', 'We alternate between building, imagining, and creating software.  When we\'re contracted to do so, we\'re focused on the objectives of other companies.  When we\'re not working for other companies, we build apps that make the world a better place.')
        +card('Open Source Projects', 'images/github-logo.png', 'We have several open source projects that we maintain and have published for the community.  You can check them out on <a href="https://github.com/kogosoftwarellc">github</a>.')

    //-section.portfolio

    section.contact
      .cell
        +contact-form()
      include ../scripts/ga.jade
