include ../contact-form/contact-form.jade
doctype html
//
  The IMPACT Technology Recruiting logo is being used according to license terms which can be found on their website at http://go-impact.com/IT/legal.html.

  All other content on this website is held in copyright by Kogo Software LLC.
html
  head
    meta(charset="utf-8")
    title Kogo Software LLC
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='theme-color' content='#1C4863')
    link(href='/index.css' rel='stylesheet' type='text/css')

  body
    section#header
      .overlay.inactive
      .logo
        img(src="./images/gorilla@3x.png")
        span.name Kogo
        span.software software

      .brand
        .super We are
        .name Kogo

        p.mission Kogo provides the technical resources you need, when you need them.  What that means is that we have programmers, consultants, architects, leaders, listeners, trainers, mentors, or anything inbetween, ready to help you in a moment's notice.

      img(src="./images/menu_button.png" class="menu-button")
      .navigation
        .header
          h3 Menu
          img(src="./images/close_menu_button.png" class="close-button")

        a(href="#header" class="nav-item")
          .item-number 01
          .item-name Who we are
        a(href="#tools" class="nav-item")
          .item-number 02
          .item-name Tools
        a(href="#partners" class="nav-item")
          .item-number 03
          .item-name Partners
        a(href="#business" class="nav-item")
          .item-number 04
          .item-name Business model
        a(href="#github" class="nav-item")
          .item-number 05
          .item-name Open source projects
        a(href="#contact" class="nav-item")
          .item-number 06
          .item-name Connect with us

    section#tools
      h2.section-heading Tools we use

      .tool-container
        .tool-set
          .tool
            a(href="https://nodejs.org/")
              img(src="./images/nodejs.svg")
          .tool
            a(href="https://facebook.github.io/react/")
              img(src="./images/react.svg")
          .tool
            a(href="https://angular.io/")
              img(src="./images/angular.svg")
        .tool-set
          .tool
            a(href="https://en.wikipedia.org/wiki/JavaScript")
              img(src="./images/javascript.svg")
          .tool
            a(href="http://www.docker.com")
              img(src="./images/docker.svg")
          .tool
            a(href="https://git-scm.com/")
              img(src="./images/git.svg")

      p.section-description We use the latest open source technologies, but are not limited by them.  If you have existing technologies that cannot be replaced, we'll use them.  We adapt to any environment, yet prefer current best practices wherever possible.

    section#partners.left-align
      img(src="./images/diamonds-2.svg")
      .content
        h2.section-heading Our partners
        h3.section-subheading We work with the best

        p.section-description We partner with the best recruiting firms in the valley.  This allows us to stay technical and focus on developing software rather than getting bogged down communicating with dozens of HR departments.


    section#business
      .flair-container
        .flair
      .content
        h2.section-heading Business model

        p.section-description We alternate between building, imagining, and creating software.  When we're contracted to do so, we're focused on the objectives of other companies.  When we're not working for other companies, we build apps that make the world a better place.

    section#github
      img(src="./images/Github-Large.svg")
      .github-counter 20
      h2.section-heading Open source projects

      p.section-description We have several open source projects that we maintain and have published for the community.  Check them out on Github.

      .github-carousel

      button View all on Github

    section#contact
      .stripe
      .heading-container
        h2.section-heading Connect with us
      p.section-description If you're a recruiting agency and would like to connect, or if you're a ninja looking to join us: fill out our secure contact form and we'll reach out to you as soon as possible.

      .contact-form-container
        .shadow-box
        +contact-form()
        include ../scripts/ga.jade

    section#footer
      hr
      .social
        .github
        .linkedin

      .address
        span(class="line-one") Kogo Software, LLC  &nbsp; PO Box 30224
        span(class="line-two") Phoenix, AZ 85046

      .copyright
        img(src="./images/gorilla@3x.png")
        p Copyright &copy; 2016.  All Rights Reserved.

      .diamond-container
        img(src="./images/diamonds-4.svg")

    script(src="https://code.jquery.com/jquery-2.2.1.min.js")
    script(src="./index.js")
