include ../contact-form/contact-form.jade
doctype html
//
  The IMPACT Technology Recruiting logo is being used according to license terms which can be found on their website at http://go-impact.com/IT/legal.html.

  All other content on this website is held in copyright by Kogo Software LLC.
html
  head
    title Kogo Software LLC

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='theme-color' content='#65727B')
    meta(property='og:url' content="http://www.kogo.io")
    meta(property='og:type' content="website")
    meta(property='og:title' content="Kogo Software LLC")
    meta(property='og:site_name' content="Kogo Software LLC")
    meta(property='og:image' content="https://kogo.io/images/logo.png")
    meta(property='og:description' content="Kogo provides the technical resources you need, when you need them.")

    // ****** faviconit.com favicons ******
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico")
    link(rel="icon" type="image/png" sizes="196x196" href="/favicon-192.png")
    link(rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png")
    link(rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png")
    link(rel="apple-touch-icon" href="/favicon-57.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/favicon-60.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/favicon-180.png")
    meta(name="msapplication-TileColor" content="#FFFFFF")
    meta(name="msapplication-TileImage" content="/favicon-144.png")
    meta(name="msapplication-config" content="/browserconfig.xml")
    // ****** faviconit.com favicons ******

    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
    link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")

    style
      include ../../dist/index.css

  body
    section#header(post-rendered-height)
      .overlay.inactive
      .logo
        img(src="./images/logo-gray-150.png" alt="Kogo Software Logo")
        span.name Kogo
        span.software software

      .brand
        .super We are
        .name Kogo

        p.mission
          | A group of developers who:
          br
          | thrive on collaboration,
          br
          | stay current with tech,
          br
          | drive results for our clients.

      img(src="./images/menu_button.png" class="menu-button" alt="Open Menu")
      .navigation
        .header
          h3 Menu
          img(src="./images/close_menu_button.png" class="close-button" alt="Close Menu")

        a(href="#header" class="nav-item")
          span.item-number 01
          span.item-name Who we are
        a(href="#tools" class="nav-item")
          span.item-number 02
          span.item-name The Tools We Use
        a(href="#partners" class="nav-item")
          span.item-number 03
          span.item-name Our Objectives
        a(href="#business" class="nav-item")
          span.item-number 04
          span.item-name Business model
        a(href="#github" class="nav-item")
          span.item-number 05
          span.item-name Open source projects
        a(href="#contact" class="nav-item")
          span.item-number 06
          span.item-name Connect with us

    section#tools
      h2.section-heading The Tools we use

      .tool-container
        .tool-set
          .tool
            a(href="https://nodejs.org/")
              img(src="./images/nodejs.svg" alt="Node.js")
          .tool
            a(href="https://facebook.github.io/react/")
              img(src="./images/react.svg" alt="React")
          .tool
            a(href="https://angular.io/")
              img(src="./images/angular.svg" alt="Angular")
        .tool-set
          .tool
            a(href="https://en.wikipedia.org/wiki/JavaScript")
              img(src="./images/javascript.svg" alt="JavaScript")
          .tool
            a(href="http://www.docker.com")
              img(src="./images/docker.svg" alt="Docker")
          .tool
            a(href="https://git-scm.com/")
              img(src="./images/git.svg" alt="Git")

      p.section-description We use the latest open source technologies, but are not limited by them.  When we're building apps for Kogo, we use the latest tools so we can grow our skill set and stay up to date with current best practices.  When we work for clients we recommend current best practices, but if they have existing technologies that cannot be replaced we'll use those instead.

    section#partners.left-align
      img(src="./images/diamonds-2.svg")
      .content
        h2.section-heading Our Objectives
        h3.section-subheading Develop our talents and serve those in need

        p.section-description Kogo develops talent and facilitates a playground where we can grow our skill set as a team.  This team (the Kogo Team) is up for hire to any company needing to quickly turn a vision into reality.

    section#business
      .flair-container
        .flair
      .content
        h2.section-heading Business model

        p.section-description We alternate between building, imagining, and creating software.  When we're contracted to do so, we're focused on the objectives of other companies.  When we're not working for other companies, we build apps that make the world a better place.

    section#github
      img(class="github-logo" src="./images/Github-Large.svg" alt="Github Logo")
      .github-counter
      h2.section-heading Open source projects

      p.section-description We have several open source projects that we maintain and have published for the community.  Check them out on Github.

      .github-carousel-container
        .github-carousel

      a(href="https://github.com/kogosoftwarellc")
        button View all on Github

    section#contact
      .stripe
      .heading-container
        h2.section-heading Connect with us
      p.section-description If you represent a company and would like to connect, or if you're a ninja looking to join us: fill out our secure contact form and we'll reach out to you as soon as we can.

      .contact-form-container
        .shadow-box
        +contact-form()
        include ../scripts/ga.jade

    section#footer
      hr
      .social
        a(href="https://github.com/kogosoftwarellc")
          span.github
        a(href="https://www.linkedin.com/company/kogo-software-llc")
          span.linkedin

      .address
        span(class="line-one") Kogo Software, LLC  &nbsp; PO Box 30224
        span(class="line-two") Phoenix, AZ 85046

      .copyright
        img(src="./images/logo-gray-150.png" alt="Kogo Software Logo")
        p Copyright &copy; 2016.  All Rights Reserved.

      .diamond-container
        img(src="./images/diamonds-4.svg")

    script(src="https://code.jquery.com/jquery-2.2.1.min.js")
    script(src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js")
    script(src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js")
    script
      include ../../dist/index.js
      include ../../node_modules/post-rendered-height/post-rendered-height.js
      | PostRenderedHeight.init();
