include ../card/card.jade
include ../contact-form/contact-form.jade
doctype html
// Copyright Kogo Software LLC 2015
html
  head
    meta(charset="utf-8")
    title Kogo Software LLC
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='/index.css' rel='stylesheet' type='text/css')

  body
    section.brand
      include ../logo/logo.jade

    section.bio
      +card('Who we are', 'images/sideways-gorilla-view.png', 'Known for their intelligence and their ability to feel, we are software gorillas!  We seek learning, growth, solutions, peace, order, understanding, harmony, joy, and food.  We feast on difficult problems and challenges.  "Can do" is our motto.')
      +card('What we do', 'images/man-drawing-on-glass.png', 'We build, consult, architect, listen, suggest, train, mentor, reason, follow, lead, serve, do whatever it takes to make your vision become a reality.')
      +card('The tools we use', 'images/tools-we-use.png', 'We use the latest open source technologies, but are not limited by them.  If you have existing tools in place that cannot be removed, we\'ll use them.  We adapt to any environment, yet prefer current best practices wherever possible.')

    //-section.portfolio

    section.contact
      +contact-form()
    include ../scripts/ga.jade
