section {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.brand {
    background-color: #1de9b6;
    color: #fafafa;
    font-size: 500%;
    white-space: nowrap;
    z-index: 6;
  }

  &.vision {
    background-color: #fdd835;
    z-index: 5;
  }

  &.solutions {
    background-color: #ff5252;
    z-index: 4;
  }

  &.contact {
    background-color: #2196f3;
    z-index: 3;
  }
}
