doctype html
// Copyright Kogo Software LLC 2015
html
  head
    meta(charset="utf-8")
    title. Kogo Software LLC
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css')
    style
      include ../theme.css
      include ../kogo-logo.css
      include ./index.css

  body
    section.brand
      #kogo-logo
        h1
          each v in ['K', 'o', 'g', 'o ', 'S', 'o', 'f', 't', 'w', 'a', 'r', 'e']
            span=v
        img(src="./gorilla.png" alt="Kogo Software LLC Gorilla Logo")

    section.vision

    section.solutions

    section.contact
