doctype html
// Copyright Kogo Software LLC 2015
html
  head
    meta(charset="utf-8")
    title. Kogo Software LLC
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet' type='text/css')
    style
      include ../theme.css
      include ../logo/logo.css
      include ./index.css

  body
    section.brand
      include ../logo/logo.jade

    section.vision

    section.solutions

    section.contact
