include ../contact-form/contact-form.jade
doctype html
//
  The IMPACT Technology Recruiting logo is being used according to license terms which can be found on their website at http://go-impact.com/IT/legal.html.

  All other content on this website is held in copyright by Kogo Software LLC.
html
  head
    meta(charset="utf-8")
    title Kogo Software LLC
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name='theme-color' content='#1C4863')
    link(href='/index.css' rel='stylesheet' type='text/css')

  body
    section#header
      .logo

      .brand
        h1 We are 
          span.name Kogo
          
        p.mission Kogo provides the technical resources you need, when you need them.  What that means is that we have programmers, consultants, architects, leaders, listeners, trainers, mentors, or anything inbetween, ready to help you in a moment's notice.

      .navigation
        ol
          li 
            a(href="#header") Who we are
          li 
            a(href="#tools") Tools
          li 
            a(href="#partners") Partners
          li 
            a(href="#business") Business model
          li 
            a(href="#github") Open source projects
          li 
            a(href="#contact") Connect with us

    section#tools
      h2.tools-heading Tools we use

      .tool.js
      .tool.react
      .tool.angular
      .tool.docker

      p.tool-description We use the latest open source technologies, but are not limited by them.  If you have existing technologies that cannot be replaced, we'll use them.  We adapt to any environment, yet prefer current best practices wherever possible.

    section#partners
      h2.partners-heading Our partners
      h3.partners-subheading We work with the best

      p.partners-description We partner with the best recruiting firms in the valley.  This allows us to stay technical and focus on developing software rather than getting bogged down communicating with dozens of HR departments.

    section#business
      h2.business-heading Business model

      p.business-description We alternate between building, imagining, and creating software.  When we're contracted to do so, we're focused on the objectives of other companies.  When we're not working for other companies, we build apps that make the world a better place.

    section#github
      .github-counter 20
      h2.github-header Open source projects

      p.github-description We have several open source projects that we maintain and have published for the community.  Check them out on Github.

      .github-carousel

      a.github-link(href=)

    section#contact
      .cell
        +contact-form()
      include ../scripts/ga.jade

    section.footer
