mixin contact-form
  .card.large.contact-form
    form(
      action="https://docs.google.com/a/kogosoftwarellc.com/forms/d/135v56r34612R2BTeVGPrQaxFQOquE5AwMtAPfPRF9Ng"
      onsubmit="return submitGoogleForm(this);")
        input(name="entry.1703994313" placeholder="Name")
        br
        input(name="entry.1009702695" placeholder="Company")
        br
        input(name="entry.1091083558" placeholder="Phone")
        br
        input(name="entry.1690433273" placeholder="Email")
        br
        textarea(name="entry.1975702889")
        br
        button(type="submit")='Submit'

      .confirmation.
        Thanks for reaching out!  We'll respond to your inquiry in a timely manner.

    script
      include ../../node_modules/google-form/google-form.js

