mixin contact-form
  .contact-form
    form(
      action="https://docs.google.com/a/kogosoftwarellc.com/forms/d/135v56r34612R2BTeVGPrQaxFQOquE5AwMtAPfPRF9Ng"
      onsubmit="return submitGoogleForm(this);")
        input(name="entry.1703994313" required placeholder="First Name")
        input(name="entry.1009702695" placeholder="Company")
        input(name="entry.1091083558" placeholder="Phone")
        input(name="entry.1690433273" required placeholder="Email")
        input(name="entry.1975702889" required placeholder="Message")
        .asterisk This info is super important
        button(type="submit")='Send'

    .confirmation
      img(src="./images/mail.svg")
      h3 Message Sent!
      p We'll be in contact shortly.

  script
    include ../../node_modules/google-form/google-form.js

